img.nav-link.img-menu {
    width: 60px;
    height: 60px;
}
#menu2 li.nav-item {
    margin: 0px 10px;
}
.navbar-search {
    margin-right: 0px;
    margin-top: 0px;
    z-index: 1;

}
div#navbarSupportedContent {
    margin-top: -60px;
    margin-left: 200px;
}